.sidebarOptions {
    display: flex;
    align-items: center;
    padding: 10px; /* Increase the padding for better spacing */
    border-radius: 5px; /* Use a smaller border radius for a more subtle effect */
    transition: background-color 0.3s; /* Add a smooth background color transition on hover */

    /* You can add a hover effect to change the background color */
    cursor: pointer; /* Change the cursor on hover to indicate interactivity */
}

.sidebarOptions:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
}

.sidebarOptions h2 {
    font-size: 14px; /* Adjust the font size for the title */
    margin-left: 10px; /* Add some spacing between the icon and title */
}

.sidebarOptions p {
    font-size: 12px; /* Adjust the font size for the number */
    margin-left: auto; /* Push the number to the right side */
    color: #777; /* Use a subdued color for the number */
}
